body{
    font-family: 'Noto Sans', sans-serif;
}


.container{
    background-image: url(../img/bg-desktop.svg);
   background-color: hsl(257, 40%, 49%);
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "header header"
    "secao secao"
    "rodape rodape";
}

.header{
    grid-area: header;
}

.header .divisor .logo-img{
    display: flex;
    padding: 20px 55px 45px;
    align-items: center;
    min-height: 75px;
}
.header .divisor .logo-img a{
    background: url(../img/logo.svg)center center no-repeat;
    padding: 15px 100px;
    background-size: cover;
}

.secao{
    grid-area: secao;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.secao .img-site{
    display: block;
}

.secao .img-site img{
    margin-left: 60px ;
}

.secao .contexto{
    margin: 50px 0 0 50px;
    display: block;
}

.secao .contexto h2,
.secao .contexto h3{
    font-size: 35px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 600;
}

.secao .contexto p{
    margin-right: 60px;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
}

.secao .contexto .botao{
    font-size: 19px;
    color: rgb(179, 77, 179);
    background-color: #fff;
    padding: 13px 63px;
    border-radius: 30px;
    margin-top: 25px;
    font-weight: 400;
    box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.2);
}
.secao .contexto .botao:hover{
    color: #fff;
    background-color: rgb(215, 119, 215);
}

@media(max-width: 1200px){
    .secao{
        display: inline;
        text-align: center;
    }

    .secao .filho{
        margin: 0;
    }

    .secao .img-site img{
        margin: 0;
    }



}

@media(max-width: 1024px){
    .container{
        background-image: url(../img/bg-mobile.svg)
    }
}

.rodape-prin{
    grid-area: rodape;
    text-align: end;


}
.rodape-prin .redes-sociaes{
    padding: 30px 60px 40px 0px;
}

.rodape-prin .redes-sociaes a i{
    font-size: 40px;
    color: #fff;
    padding: 15px;

}
